<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content class="user">
        <mat-card-title>Mis datos</mat-card-title>
        <form
          class="m-t-20"
          [formGroup]="userForm.group"
          (ngSubmit)="handleSubmitUserData()"
        >
          <div class="user-form">
            <div class="user-form__grid">
              <mat-form-field appearance="outline">
                <mat-label>Nombres</mat-label>
                <input
                  matInput
                  formControlName="name"
                  type="text"
                  appLettersWithSpace
                  required
                  placeholder="Ingrese su nombre"
                  autocomplete="off"
                  readonly
                />
                <mat-error *ngIf="userForm.name.invalid">
                  {{ userForm.showErrors("name") }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Apellido Paterno</mat-label>
                <input
                  matInput
                  formControlName="fatherSurname"
                  type="text"
                  appLettersWithSpace
                  required
                  placeholder="Ingrese apellido paterno"
                  autocomplete="off"
                  readonly
                />
                <mat-error *ngIf="userForm.fatherSurname.invalid">
                  {{ userForm.showErrors("fatherSurname") }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Apellido Materno</mat-label>
                <input
                  matInput
                  formControlName="motherSurname"
                  type="text"
                  appLettersWithSpace
                  required
                  placeholder="Ingrese apellido materno"
                  autocomplete="off"
                  readonly
                />
                <mat-error *ngIf="userForm.motherSurname.invalid">
                  {{ userForm.showErrors("motherSurname") }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select formControlName="documentType" [attr.disabled]="true">
                  <mat-option
                    *ngFor="let item of documentTypes"
                    [value]="item.id"
                  >
                    {{ item?.descripcion }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.documentType.invalid">
                  {{ userForm.showErrors("documentType") }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>N° de Documento</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="document"
                  appDigitOnly
                  required
                  placeholder="Ingrese su número de DNI"
                  minlength="8"
                  maxlength="20"
                  readonly
                />
                <mat-error *ngIf="userForm.document.invalid">
                  {{ userForm.showErrors("document") }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>N° de Celular</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="cellphone"
                  appDigitOnly
                  required
                  placeholder="Ingrese número de documento"
                  minlength="9"
                  maxlength="9"
                />
                <mat-error *ngIf="userForm.cellphone.invalid">
                  {{ userForm.showErrors("cellphone") }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input
                  matInput
                  formControlName="email"
                  type="email"
                  placeholder="Ingrese correo electrónico"
                  autocomplete="off"
                />
                <mat-error *ngIf="userForm.email.invalid">
                  {{ userForm.showErrors("email") }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Estado Civil</mat-label>
                <mat-select formControlName="civilStatus">
                  <mat-option
                    *ngFor="let item of civilStatus"
                    [value]="item.id"
                  >
                    {{ item?.descripcion }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.civilStatus.invalid">
                  {{ userForm.showErrors("civilStatus") }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <input
                  matInput
                  formControlName="address"
                  type="text"
                  required
                  placeholder="Av./Jr./Calle 100 Los Limos, Lima - Perú"
                  autocomplete="off"
                />
                <mat-error *ngIf="userForm.address.invalid">
                  {{ userForm.showErrors("address") }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Referencia</mat-label>
                <input
                  matInput
                  formControlName="reference"
                  type="text"
                  required
                  placeholder="Referencia"
                  autocomplete="off"
                />
                <mat-error *ngIf="userForm.reference.invalid">
                  {{ userForm.showErrors("reference") }}
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline">
                <mat-label>Distrito</mat-label>
                <input
                  matInput
                  formControlName="district"
                  type="text"
                  required
                  placeholder="Distrito"
                  autocomplete="off"
                />
                <mat-error *ngIf="userForm.district.invalid">
                  {{ userForm.showErrors("district") }}
                </mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline">
                <mat-label>Distrito</mat-label>
                <mat-select formControlName="district">
                  <mat-option
                    *ngFor="let item of district"
                    [value]="item.id"
                  >
                    {{ item?.descripcion }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.district.invalid">
                  {{ userForm.showErrors("district") }}
                </mat-error>
              </mat-form-field> -->
      
            </div>
            <div class="user-form__actions">
              <button
                type="submit"
                mat-raised-button
                class="btn-primary"
                [disabled]="userForm.state.loading"
              >
                <mat-icon *ngIf="userForm.state.loading">
                  <app-progress-icon></app-progress-icon>
                </mat-icon>
                <mat-icon *ngIf="!userForm.state.loading">save</mat-icon>
                Guardar Cambios
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content class="password">
        <mat-card-title>Cambiar Contraseña</mat-card-title>
        <form
          class="m-t-20"
          [formGroup]="passwordForm.group"
          #ngFormPassword="ngForm"
          (ngSubmit)="handleSubmitUserPassword(ngFormPassword)"
        >
          <div class="password-form">
            <div class="password-form__grid">
              <mat-form-field appearance="outline">
                <mat-label>Actual Contraseña</mat-label>
                <input
                  matInput
                  formControlName="lastPassword"
                  [type]="hidePwdLast ? 'password' : 'text'"
                  required
                  placeholder="Ingrese la contraseña"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hidePwdLast = !hidePwdLast"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePwdLast"
                >
                  <mat-icon>
                    {{ hidePwdLast ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
                <mat-error *ngIf="passwordForm.lastPassword.invalid">
                  {{ passwordForm.showErrors("lastPassword") }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Nueva Contraseña</mat-label>
                <input
                  matInput
                  formControlName="password"
                  [type]="hidePwd ? 'password' : 'text'"
                  required
                  placeholder="Ingrese su nueva contraseña"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hidePwd = !hidePwd"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePwd"
                >
                  <mat-icon>
                    {{ hidePwd ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
                <mat-error *ngIf="passwordForm.password.invalid">
                  {{ passwordForm.showErrors("password") }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Repetir Nueva Contraseña</mat-label>
                <input
                  matInput
                  formControlName="passwordConfirm"
                  [type]="hidePwdConfirm ? 'password' : 'text'"
                  required
                  placeholder="Reingrese su nueva contraseña"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hidePwdConfirm = !hidePwdConfirm"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePwdConfirm"
                >
                  <mat-icon>
                    {{ hidePwdConfirm ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
                <mat-error *ngIf="passwordForm.passwordConfirm.invalid">
                  {{ passwordForm.showErrors("passwordConfirm") }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="password-form__actions">
              <button
                type="submit"
                mat-raised-button
                class="btn-primary"
                [disabled]="passwordForm.state.loading"
              >
                <mat-icon
                  class="progress-icon"
                  *ngIf="passwordForm.state.loading"
                >
                  <app-progress-icon></app-progress-icon>
                </mat-icon>
                <mat-icon *ngIf="!passwordForm.state.loading"> save </mat-icon>
                Cambiar Contraseña
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content class="avatar">
        <mat-card-title>Cambiar Avatar</mat-card-title>

        <div class="avatar-container text-center">
          <form
            id="frm-avatar"
            [formGroup]="formAvatar"
            #ngFrmAvatar="ngForm"
            (ngSubmit)="handleUpdateAvatar(ngFrmAvatar)"
          >
            <input
              type="file"
              #image
              accept=".png, .jpg, .jpeg"
              formControlName="image"
              (change)="handleChageInputFile($event)"
            />
            <br />
            <br />
            <button
              [disabled]="formAvatar.invalid"
              type="submit"
              mat-raised-button
              class="btn-primary"
            >
              <mat-icon class="progress-icon" *ngIf="false">
                <app-progress-icon></app-progress-icon>
              </mat-icon>
              <mat-icon> save </mat-icon>
              Cambiar Avatar
            </button>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
