/* You can add global styles to this file, and also import other style files */

// SnackBar styles
.snack-bar {
  &-default {
    background-color: rgba(0, 0, 0, 0.26) !important;
  }

  &-error {
    background-color: #e91e63 !important;
  }

  &-success {
    background-color: #009688 !important;
  }

  &-info {
    background-color: #26c6da !important;
  }

  &-warning {
    background-color: #ffa800 !important;
  }
}

.btn-primary {
  background-color: #1e88e5 !important;
  color: #ffffff !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
