<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div fxLayout="row" fxLayoutWrap="wrap">
          <!-- column -->
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
            Bienvenido <b>{{ auth.user.fullName }}</b>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
<div fxLayout="row wrap">
  <div *ngIf="false" fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content class="cursor-pointer" routerLink="/fechas-especiales">
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button
              mat-fab
              color="warn"
              mat-card-icon
              class="shadow-none bg-warning"
            >
              <mat-icon>event</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">2</h3>
            <h6 class="text-muted m-0">Próximos Eventos</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="false" fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content class="cursor-pointer" routerLink="/clientes">
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button
              mat-fab
              mat-card-icon
              class="shadow-none bg-inverse bg-success"
            >
              <mat-icon>account_circle</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">2</h3>
            <h6 class="text-muted m-0">Clientes Registrados</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="showPropertiesCard" fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card routerLink="/mis-inmuebles">
      <mat-card-content class="cursor-pointer">
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="accent" mat-card-icon class="shadow-none">
              <mat-icon>home_work</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">{{ total }}</h3>
            <h6 class="text-muted m-0">Inmuebles</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="showDepositCard" fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card routerLink="/depositos-transferencias">
      <mat-card-content class="cursor-pointer">
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="accent" mat-card-icon class="shadow-none">
              <mat-icon>format_list_numbered</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">{{ total }}</h3>
            <h6 class="text-muted m-0">Depósito y Transferencias</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="false" fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content class="cursor-pointer" routerLink="/proveedores">
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button
              mat-fab
              color="warn"
              mat-card-icon
              class="shadow-none bg-danger"
            >
              <mat-icon>business</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">3</h3>
            <h6 class="text-muted m-0">Proveedores</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
