<h1 mat-dialog-title>{{ !paidMarketShow ? title : "Checkout" }}</h1>
<mat-dialog-content>
  <p class="text-muted" *ngIf="!paidMarketShow">
    Para continuar elije un método de pago.
  </p>
  <div class="payment-method">
    <div class="payment-method__options" *ngIf="paymentMethodShow">
      <button
        type="button"
        mat-raised-button
        color="primary"
        class="mat-button success"
        matTooltip="Pago Depósito / Transferencia"
        matTooltipPosition="below"
        (click)="payByDepositOrTransfer()"
      >
        <mat-icon>payment</mat-icon>
        Depósito / Transferencia
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        class="mat-button success"
        matTooltip="Pagar con Mercado Pago"
        matTooltipPosition="below"
        [disabled]="paidMarketStatus"
        (click)="payWithMercadoPago()"
      >
        <mat-icon *ngIf="paidMarketStatus">
          <app-progress-icon></app-progress-icon>
        </mat-icon>
        <mat-icon *ngIf="!paidMarketStatus">payment</mat-icon>
        Mercado Pago
      </button>
    </div>

    <!-- Mercado Pago Form-->
    <div
      class="payment-method__container {{ !paidMarketShow ? 'd-none' : '' }}"
    >
      <div class="block-heading">
        <h3>Pagar con Mercado Pago</h3>
      </div>
      <div class="form-payment">
        <div class="products">
          <h3 class="title">Resumen</h3>
          <div class="item">
            <span class="price" id="summary-price"></span>
            <p class="item-name">
              {{ paidMarket?.description }}
              -
              <span id="summary-quantity">{{ paidMarket?.quantity }} Und.</span>
            </p>
          </div>
          <div class="total">
            Total<span class="price" id="summary-total">
              S/. {{ paidMarket?.price }}
            </span>
          </div>
        </div>
        <div class="payment-details">
          <div class="form-group col-sm-12">
            <br />
            <div id="button-checkout" #buttonCheckout></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="handleClickClose()" tabindex="-1">
    CANCELAR
  </button>
</mat-dialog-actions>
