<h2 mat-dialog-title>
    <span [ngSwitch]="action">
<span *ngSwitchCase="'create'"> Crear Nuevo Proyecto </span>
    <span *ngSwitchCase="'update'"> Actualizar Proyecto </span>
    </span>
</h2>
<mat-dialog-content class="mat-typography user">
    <form id="frm-user" [formGroup]="proyectoForm.group" #ngFrmUser="ngForm" (ngSubmit)="handleSubmitUser(ngFrmUser)">
        <!-- <h4>Datos de Proyecto</h4> -->
        <div class="user__grid">

            <div>
              <input style="display: none;" formControlName="img_logo" type="file" (change)="onPhotoSelectedLogo($event)" #photoInputLogo/>
              <figure>
                <figcaption>Imagen de Logo</figcaption>
                <img [src]=" photoSelectedLogo || urlLogo" alt="" width="200" (click)="photoInputLogo.click()">
              </figure>
            </div>

            <div>
              <input style="display: none;" formControlName="img_principal" type="file" (change)="onPhotoSelectedPrincipal($event)" #photoInputPrincipal/>
              <figure>
                <figcaption>Imagen Principal</figcaption>
                <img [src]=" photoSelectedPrincipal || urlPrincipal" alt="" width="200" (click)="photoInputPrincipal.click()">
              </figure>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="nombre" required placeholder="Ingrese nombre" />
                <mat-error *ngIf="proyectoForm.field('nombre').invalid">
                    {{ proyectoForm.showErrors("nombre") }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Departamento</mat-label>
              <mat-select formControlName="departamento_id" (valueChange)="getProvinces($event)">
                  <mat-option *ngFor="let department of departments" [value]="department.id">
                      {{ department?.name }}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="proyectoForm.field('departamento_id').invalid">
                  {{ proyectoForm.showErrors("departamento_id") }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Provincia</mat-label>
              <mat-select formControlName="provincia_id" (valueChange)="getDistricts($event)">
                  <mat-option *ngFor="let province of provinces" [value]="province.id">
                      {{ province?.name }}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="proyectoForm.field('provincia_id').invalid">
                  {{ proyectoForm.showErrors("provincia_id") }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Distrito</mat-label>
              <mat-select formControlName="distrito_id">
                  <mat-option *ngFor="let district of districts" [value]="district.id">
                      {{ district?.name }}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="proyectoForm.field('distrito_id').invalid">
                  {{ proyectoForm.showErrors("distrito_id") }}
              </mat-error>
          </mat-form-field>

        </div>
        <div class="property-images">
          <div class="property-images__header">
              <h3>Fotos</h3>
          </div>
          <div class="property-images__body">
              <p>
                  Te recomendamos que subas fotos del inmueble a la luz del día, deben ser del exterior y del interior de varios ángulos.
              </p>
              <br />

              <p class="post-images__info">
                  Fotos añadidos : {{ images.length }}
              </p>
              <div class="post-images">
                  <div *ngFor="let item of images; let id = index" [class]="item !== undefined && item !== null ? 'post-image' : ''">
                      <app-image-input *ngIf="item !== undefined && item !== null" [id]="item.id" [srcImage]="item.data" [state]="item.state" (changeImage)="handleChangeImageInput($event)" (cancelImage)="handleCancelImageInput($event)"></app-image-input>
                  </div>
                  <div class="post-image upload primary">
                      <label class="post-image-msg">
              <h3 class="post-image-msg__title">
                <mat-icon>add_photo_alternate</mat-icon><br />
                Añadir Imágenes
              </h3>
              <span class="post-image-msg__desc">
                Haz clic para subirlos.
              </span>
              <input
                type="file"
                accept=".png, .jpg, .jpeg"
                multiple
                (change)="handleChangeFilesInput($event)"
              />
            </label>
                  </div>
              </div>
              <p class="post-images__placeholder">
                  Formatos permitidos: JPG, JPEG, PNG, GIF.Tamaño máximo: 5000 x 5000 pixeles.Peso máximo: 5MB por imagen.
              </p>
          </div>
        </div>
        <div [ngSwitch]="action" class="property__actions">
          <button *ngSwitchCase="'update'" type="button" mat-raised-button color="primary" (click)="handleUpdateImages()">
        Actualizar Fotos
      </button>
      </div>

    </form>
</mat-dialog-content>
<div mat-dialog-actions align="end">
    <button mat-raised-button type="submit" color="primary" tabindex="2" form="frm-user">
<span [ngSwitch]="action">
<span *ngSwitchCase="'create'"> Guardar </span>
<span *ngSwitchCase="'update'"> Guardar Cambios </span>
</span>
</button>
    <!-- <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button> -->
    <button mat-button (click)="closeDialog()">Cancelar</button>
</div>
