.image-input {
  position: relative;
  display: inline-block;
  border-radius: 0.42rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-input .image-input-wrapper {
  width: 290px;
  height: 190px;
  border-radius: 0.42rem;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 450px) {
      width: 220px;
  }
}

.image-input .image-input-wrapper-main {
  width: 380px;
  height: 380px;
  border-radius: 0.42rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-input [data-action="change"] {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -10px;
}

.image-input [data-action="change"] input {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

.image-input [data-action="cancel"],
.image-input [data-action="remove"] {
  position: absolute;
  right: -10px;
  bottom: -5px;
}

.image-input [data-action="cancel"] {
  display: none;
}

.image-input.image-input-changed [data-action="cancel"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-input.image-input-changed [data-action="remove"] {
  display: none;
}

.image-input.image-input-empty [data-action="remove"],
.image-input.image-input-empty [data-action="cancel"] {
  display: none;
}

.image-input.image-input-circle {
  border-radius: 50%;
}

.image-input.image-input-circle .image-input-wrapper {
  border-radius: 50%;
}

.image-input.image-input-circle [data-action="change"] {
  right: 5px;
  top: 5px;
}

.image-input.image-input-circle [data-action="cancel"],
.image-input.image-input-circle [data-action="remove"] {
  right: 5px;
  bottom: 5px;
}

.image-input.image-input-outline .image-input-wrapper {
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
}

.btn {
  // .btn
  outline: none !important;
  vertical-align: middle;
  // .form-group label
  font-size: 1rem;
  font-weight: 400;
  // .btn.btn-white
  color: #3f4254;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffffff;
  // .btn.btn-icon.btn-xs
  height: 24px;
  width: 24px;
  // .btn.btn-icon.btn-circle
  border-radius: 50%;
  // .btn.btn-white.btn-shadow
  -webkit-box-shadow: 0px 9px 16px 0px rgba(24, 28, 50, 0.25) !important;
  box-shadow: 0px 9px 16px 0px rgba(24, 28, 50, 0.25) !important;
}

.icon-sm {
  font-size: 1rem !important;
  font-weight: bold;
}

.text-primary {
  color: #1e88e5 !important;
}

.text-danger {
  color: #e91e63 !important;
}

.mat-icon {
  line-height: 23px;
}
