.user {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 22px;
        @media (max-width: 680px) {
            grid-template-columns: 1fr;
        }
    }
}

.mat-form-field {
    margin-bottom: 0.5rem;
}

.mat-dialog-actions {
    padding: 0.5rem 0 1.5rem 0;
}

//-------------------------------------images
.property {
    .btn-maps {
        color: #fb3a3a;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 22px;
        @media (max-width: 680px) {
            grid-template-columns: 1fr;
        }
    }
    &__actions {
        text-align: center;
        margin: 2rem 0;
    }
}

.mat-form-field {
    margin-bottom: 0.5rem;
}

.mat-sort-header-container {
    align-items: center;
}

.post-images {
    min-height: 260px;
    width: 100%;
    //display: flex;
    //justify-content: center;
    margin: 1rem 0;
    //flex-wrap: wrap;
    align-items: center;
    border: 2px dashed #e0e0e0;
    border-radius: 0.42rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 22px;
    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }
    .post-image {
        padding: 8px 5px 5px 5px;
        text-align: center;
        cursor: pointer;
        border: 2px dashed #ebedf3;
        border-radius: 0.42rem;
        margin: 0.5rem;
        display: flex;
        &.upload {
            width: 302px;
            height: 211px;
            @media (max-width: 450px) {
                width: 232px;
            }
        }
        &.main {
            min-height: 380px;
            padding: 10px;
        }
        &.primary {
            border-color: #3699ff;
        }
        &.success {
            border-color: #1bc5bd;
        }
        &.danger {
            border-color: #e91e63;
        }
    }
    .post-image-msg {
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        align-self: center;
        input {
            width: 0 !important;
            height: 0 !important;
            overflow: hidden;
            opacity: 0;
        }
        &__title {
            color: #3f4254;
            margin: 0 0 5px 0;
            padding: 0;
            font-weight: 500;
            font-size: 1.2rem;
        }
        &__desc {
            color: #b5b5c3;
            font-weight: 400;
            font-size: 1rem;
        }
    }
    &__info {
        font-size: 12px;
        color: #757575;
        text-align: right;
        font-weight: 600;
    }
    &__placeholder {
        font-size: 12px;
        color: #757575;
    }
}