<div class="login-register">
  <div class="login-register-box">
    <img
      src="assets/images/nivelacionVias.jpg"
      class="img-left"
      alt="Nivelación Vías"
    />
  </div>
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form
          [formGroup]="loginForm.group"
          #ngFrmLogin="ngForm"
          (ngSubmit)="handleDoLogin(ngFrmLogin)"
        >
          <div class="text-center">
            <img
              src="assets/images/logo.png"
              width="200"
              alt="Logo Inmobitec"
            />
            <br />
            <br />
          </div>
          <div class="login-error" *ngIf="invalidGrant">
            <mat-card class="bg-light-danger">
              <mat-card-content>
                <h5 class="text-danger m-t-0 m-b-10">
                  Usuario y/o contraseña incorrectos.
                </h5>
              </mat-card-content>
            </mat-card>
          </div>

          <div fxLayout="row wrap">
            <div
              class="form-field-wrapper"
              fxFlex.gt-sm="100"
              fxFlex.gt-xs="100"
              fxFlex="100"
            >
              <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input
                  matInput
                  formControlName="username"
                  type="text"
                  required
                  placeholder="Ingrese su usuario"
                />
                <mat-error *ngIf="loginForm.field('username').invalid">
                  {{ loginForm.showErrors("username") }}
                </mat-error>
              </mat-form-field>
              <!-- <mat-error *ngIf="loginForm.state.error">
                {{ loginForm.state.message }}
              </mat-error> -->
            </div>
            <div
              class="form-field-wrapper"
              fxFlex.gt-sm="100"
              fxFlex.gt-xs="100"
              fxFlex="100"
            >
              <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  formControlName="password"
                  [type]="hidePassword ? 'password' : 'text'"
                  required
                  placeholder="Ingrese su contraseña"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword"
                >
                  <mat-icon>
                    {{ hidePassword ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
                <mat-error *ngIf="loginForm.field('password').invalid">
                  {{ loginForm.showErrors("password") }}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
              <mat-checkbox color="warn" formControlName="rememberMe">
                Recuérdame
              </mat-checkbox>
            </div>
            <div
              fxFlex.gt-sm="50"
              fxFlex.gt-xs="50"
              fxFlex="50"
              class="text-right"
            >
              <a class="link" routerLink="/auth/forgot">Olvidé mi contraseña</a>
            </div>
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <button
                mat-raised-button
                type="submit"
                class="btn-block btn-lg m-t-20 m-b-20"
                color="primary"
                [disabled]="
                  loginForm.invalid === true || loginForm.state.loading
                "
              >
                {{
                  loginForm.state.loading
                    ? "Iniciando Sesión..."
                    : "Iniciar Sesión"
                }}
              </button>
            </div>
            <div
              fxFlex.gt-sm="100"
              fxFlex.gt-xs="100"
              fxFlex="100"
              class="text-center"
            >
              <span>
                ¿Cómo ingresar al sistema?
                <a
                  class="text-info link"
                  href="/assets/manual/manual-mi-portal-inmobitec.pdf"
                  target="_blank"
                >
                  Ver Manual
                </a>
              </span>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="login-register-box">
    <video class="video-right" width="333px" controls>
      <source src="assets/images/video_noticia.mp4" type="video/mp4" />
    </video>
  </div>
</div>
