.sub-title {
  margin: 0 0 0.5rem;
  display: block;
  font: 500 18px/32px Poppins;
  letter-spacing: normal;
}

.voucher {
  &__container {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  a {
    text-decoration: none;
    text-align: center;
  }

  &__img {
    border-radius: 0.5rem;
  }
}
