<h2 mat-dialog-title>
    <span [ngSwitch]="action">
<span *ngSwitchCase="'create'"> Crear Nuevo Usuario </span>
    <span *ngSwitchCase="'update'"> Actualizar Usuario </span>
    </span>
</h2>
<mat-dialog-content class="mat-typography user">
    <form id="frm-user" [formGroup]="unidadMedidaForm.group" #ngFrmUser="ngForm" (ngSubmit)="handleSubmitUser(ngFrmUser)">
        <h4>Datos de Usuario</h4>
        <div class="user__grid">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="nombre" required placeholder="Ingrese nombre" />
                <mat-error *ngIf="unidadMedidaForm.field('nombre').invalid">
                    {{ unidadMedidaForm.showErrors("nombre") }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Simbolo</mat-label>
                <input matInput type="text" formControlName="simbolo" required placeholder="Ingrese simbolo" />
                <mat-error *ngIf="unidadMedidaForm.field('simbolo').invalid">
                    {{ unidadMedidaForm.showErrors("simbolo") }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput type="text" formControlName="descripcion" required placeholder="Ingrese apellidos" />
                <mat-error *ngIf="unidadMedidaForm.field('descripcion').invalid">
                    {{ unidadMedidaForm.showErrors("descripcion") }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Orden</mat-label>
                <input matInput type="text" formControlName="orden" required placeholder="Ingrese apellidos" />
                <mat-error *ngIf="unidadMedidaForm.field('orden').invalid">
                    {{ unidadMedidaForm.showErrors("orden") }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <input matInput type="text" formControlName="estado" appDigitOnly required placeholder="Ingrese número de estado" minlength="1" maxlength="3" />
                <mat-error *ngIf="unidadMedidaForm.field('estado').invalid">
                    {{ unidadMedidaForm.showErrors("estado") }}
                </mat-error>
            </mat-form-field>

        </div>

    </form>
</mat-dialog-content>
<div mat-dialog-actions align="end">
    <button mat-raised-button type="submit" color="primary" tabindex="2" form="frm-user">
<span [ngSwitch]="action">
<span *ngSwitchCase="'create'"> Guardar </span>
<span *ngSwitchCase="'update'"> Guardar Cambios </span>
</span>
</button>
    <!-- <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button> -->
    <button mat-button (click)="closeDialog()">Cancelar</button>
</div>